/*
 .HeaderStyle1{
        float: left;
        height: 200px;
        width: 998px;
    }
    .HeaderStyle1-Left{
        float: left;
        width: 200px;
        height: 200px;
    }
     .HeaderStyle1-Right{
        float: left;
       
        width: 798px;
        height: 200px;
    }
    .HeaderStyle2{
        
        width: 998px;
        height: 200px;
    }
    .MenuSection{
        background: black;
        width: 998px;
        height: 50px;
        float: left;
    }
    
    .BoxBody{
        background: pink;
        width: 998px;
        height:150px;
        float: left;
    }


.GFontsOpenSans
{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding-top: 10px;
    line-height: 20px;
}


*/
